[mysqld]
#pour ecouter sur tout les ip
bind-address = 0.0.0.0

port = 3306

# Encodage UTF-8 (recommandé)
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Répertoire des données
datadir = /var/lib/mysql

# Socket et PID
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid